@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Prompt:wght@300;400;700&family=Rajdhani&family=Roboto+Mono:wght@100;200;400&family=Roboto:wght@100;400;900&display=swap');

:root{
    --color--one: #fae5df;
    --color-one-modified: #fbf2ef;
    --color--one--light: #f5cac2;
    --color--one--dark:  #303179;
    --color-two: #ed7966;

}
body{
    margin:0;
    font-family: 'Rajdhani';
}

.page-container{
    height: 100vh;
    display:flex;
    flex-direction: row;
}

.title{
    color: var(--color--one--dark);
    font-size: 48px;
    margin-top: 20px;
    font-family: 'Prompt', sans-serif;
    font-weight: 800;
    letter-spacing: 0.2em;
}

.game{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.player-one,
.player-two{
    width: 25vw;
    color: var(--color--one--light);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: var(--color--one--dark);
}

.gameboard{
	width: 500px;
	height: 500px;
    margin-top: 10px;
    background-color: var(--color--one);
    color: var(--color--one--dark);
    border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);

}

.tile{
    border: 6px solid var(--color--one--light);
    border-radius: 2px;
    font-family: 'Indie flower';
    font-weight: bolder;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.turns{
    color: var(--color-two);
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;

}

.player-name{
    text-shadow: 2px 0 var(--color-two),1px 1px 4px var(--color-two);
    z-index: 10;
    font-size: 25px;

}

#restart{
    margin-top: 20px;
    border: none;
    background-color: rgb(203, 203, 203);
    border-radius: 20px;
    padding: 10px 25px;
    color: var(--color--one--dark);
    letter-spacing: 0.2em;
    font-weight: 600;
}

#restart:hover{
    background-color: rgb(232, 231, 231);
    padding: 13px 28px;
    font-weight: 900;
}

#restart:active{
    background-color: white;
}

.tile:hover{
    background-color: var(--color-one-modified);
    box-shadow: 1px 1px 10px 10px var(--color--one--light);
}

.tile:active{
    background-color: white;
}